<div class="flex flex-col w-full h-full bg-white">
  <div class="p-16 pt-4 pb-4 flex items-center justify-between">
    <img class="flex-initial mr-60" src="../assets/images/logo.svg" alt="logo">
    <nav class="flex gap-8">
      <a>Explore</a>
      <a>Search</a>
      <a>Hotels</a>
      <a>Offers</a>
      <img src="../assets/images/hamburger-menu.svg" alt="menu">
      <img src="../assets/images/notificationbell.svg" alt="bell">
      <img src="../assets/images/unsplash_d1UPkiFd04A.svg" alt="profile">
    </nav>
  </div>
  <div class="relative w-full h-96 bg-gradient-to-tr from-blue-900 to-blue-500">
    <img class="absolute inset-0 w-full h-full bg-cover bg-center" src="../assets/images/background.png" alt="background">
    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <h1 class="text-white font-baloo-bhai text-5xl mb-2">Let’s explore & travel the world</h1>
      <p class="text-white text-sm font-roboto mb-6">Find the best destinations and the most popular stays!</p>
      <div class="flex items-center w-7/12 h-24 bg-white rounded-lg">
        <form class="flex w-full mt-4 m-4">
          <input class="pl-2 border-2 mr-2 h-12 w-56 rounded" type="text" placeholder="Departure">
          <input class="pl-2 border-2 mr-2 h-12 w-56 rounded" type="text" placeholder="Arrival">
          <input class="pl-2 border-2 mr-2 h-12 w-56 rounded" type="text" placeholder="Date">
          <button class="bg-orange-500 h-12 w-32 rounded text-xs text-white" type="submit">SEARCH FLIGHTS</button>
        </form>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-screen h-4/6 m-8">
    <h1 class="font-roboto text-xs text-black">UPCOMING FLIGHT</h1>
    <div class="flex mt-6">
      <div class="h-28 w-80 border-2 rounded-md mr-10"></div>
      <img src="../assets/images/Lineseparator.svg">
      <div class="ml-10 flex flex-col">
        <p class="font-roboto text-xs text-gray-400">PREPARE FOR YOUR TRIP</p>
        <div class="flex gap-16 mt-4">
          <img src="../assets/images/Hotel.svg">
          <img src="../assets/images/Attractions.svg">
          <img src="../assets/images/Eats.svg">
          <img src="../assets/images/Commute.svg">
          <img src="../assets/images/Taxi.svg">
          <img src="../assets/images/Movies.svg">
        </div>
      </div>
    </div>
  </div>
</div>